{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Between the Lines | Home{% endblock %}

{% block content %}

<div id="home" class="container">
    <div class="row">
        <div class="col-md-8 mt-5">
            {% for book in books %}
            <div class="card mb-3 custom-card">
                <div class="row g-0">
                    <div class="col-md-2">
                        <a href="{% url 'book_detail' pk=book.pk slug=book.slug %}">
                            <img src="{{ book.cover_image.url }}" class="img-fluid rounded" alt="{{ book.title }}">
                        </a>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'book_detail' pk=book.pk slug=book.slug %}">{{book.title }}</a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                            <div class="average-rating" role="img" aria-label="Average rating: {{ book.average_rating }} out of 5 stars">
                                {% for i in 1|to:5 %}
                                    {% if i <= book.average_rating %}
                                        <i class="fas fa-star gold"></i>
                                    {% else %}
                                        <i class="fas fa-star grey"></i>
                                    {% endif %}
                                {% endfor %}
                                <small class="text-muted ps-2">
                                    {% if book.review_count == 0 %}
                                        No reviews, yet.
                                    {% else %} 
                                        {{ book.review_count }} review{% if book.review_count > 1 %}s{% endif %} 
                                    {% endif %}</small>
                            </div>
                            <p class="card-text">{{ book.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ book.genre.name }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}